#box {
  height: 100px;
  width: 100px;
  background-color: aqua;
  background-image: url("../img/un.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
img {
  /*只允许缩小不允许放大，依赖于父级容器的尺寸*/
  max-height: 100%;
  max-width: 100%;
}
